extends layout
block content
    h1= 'Попытка повторного прохождени теста!'
    p  !{firstname} !{fathername} !{lastname} уже проходил(а) этот тест!
    p Вернуться <a href="/register">на страницу регистрации</a> или вернуться на <a href="http://www.spbros.ru/">сайт ООО</a>
