body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.timer
  @size 40px
  float left
  border 1px solid red
  height @size
  width @size
  line-height @size
  text-align center
  margin 5px 5px 5px 5px
  &-end
    border-color green
  &-active
    border-color yellow


.clear
  clear both
